.hero__btn {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    color: var(--text-white);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

