.container-form {
    text-align: center;

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 0;
        right: 15px;
        display: flex;
        justify-content: flex-end;
        padding-top: 12px;
        width: 570px;
        text-align: start;
    }
    
}

// .footer-form {
//     display: inline;
// }

.footer-form__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
}

.footer-field {
    position: relative;
    // display: flex;
    // flex-wrap: wrap;
    padding-bottom: 0;
    
    &__input {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0;
        padding-left: 16px;
        width: 100%;
        height: 50px;
        outline: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // @media screen and (min-width: 768px) {
        //     width: 450px;
        // }
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
            margin-right: 12px;
            width: 358px;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        
    }
}

