//* ---------------------Подвал страницы-------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--second-background-color);
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.footer__container {
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
        position: relative;
        display: flex;
        align-items: baseline;
    }
}

.footer__container-tablet {
    @media screen and (min-width: 768px) {
        // position: relative;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

.container-address {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 70px;
        text-align: start;
    }
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-white);
    & {
        transition-property: background-color, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.footer-address__mail,
.footer-address__tel {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-footer-link);
    & {
        transition-property: background-color, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
        color: var(--text-white);
    }
}
