/* --------------------Форма в модальном окне--------------------- */
.order-form {
    width: 100%;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--main-text-color);
    padding-bottom: 12px;
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: 1.15;
    }
}

.modal-field {
    margin-bottom: 10px;
}

.modal-name {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.input-wrap {
    position: relative;
}

.modal-input {
    display: inline-block;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:hover+&,
    .modal-input:focus+& {
        fill: var(--accent-color);
    }
}

.modal-textarea {
    padding: 12px 16px;
    width: 100%;
    height: 96px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    outline: none;
    color: rgba(117, 117, 117, 0.5);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--main-text-color);
    }
    @media screen and (min-width: 1200px) {
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
    }
}

.modal-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 12px;
    text-align: center;
}

.modal-check-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8.38px;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-check:checked+& span {
        background-color: var(--accent-color);
        border: none;
    }
    .modal-check:hover+& span,
    .modal-check:focus+& span {
        border-color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal-icon-check {
    fill: transparent;
    .modal-check:checked+.modal-check-text & {
        fill: var(--text-white);
    }
}

.modal-check-link {
    display: inline-block;
    margin-left: 5px;
    line-height: 1.1;
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
}