.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 50px;
    }
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color)
    }
    &.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.current {
    color: var(--accent-color);
}

.address-list {
    display: flex;
    margin-left: auto;
    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__mail,
    &__tel {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__mail:hover,
    &__mail:focus,
    &__tel:hover,
    &__tel:focus {
        color: var(--accent-color)
    }
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}
