body {
    background-color: var(--primary-background-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
    &.modal-open {
        overflow: hidden;
    }
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}